@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import "../variables";

* {
  color: $-text-main-color;
}

.LoginForm {
  padding: 30px 40px;
  background: $-bg-second-color;
  border-radius: 20px;
  margin-top: 228px;
  display: flex;
  letter-spacing: 1px;
  animation-duration: 0.5s;
  animation-name: LoginForm;
  flex-direction: column;
  .title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 33px;
    cursor: default;
    margin-bottom: 35px;
  }
  .label {
    cursor: default;
    margin-top: 15px;
    margin-bottom: 5px;
    font-family: "Roboto";
    font-style: normal;
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }
  .input {
    background: $-bg-light-color;
    border-radius: 10px;
    width: 420px;
    height: 40px;
    padding-left: 25px;
    color: $-text-main-color;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    padding-right: 25px;
  }
  .input::placeholder {
    color: $-text-placeholder-color;
  }
  .button {
    margin-top: 100px;
    background: $-bg-button-color;
    border-radius: 10px;
    width: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 51px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: $-text-second-color;
  }
  .link {
    text-align: right;
    margin-top: 5px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
}
@keyframes LoginForm {
  from {
    transform: scale(97%);
  }
}
