@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import "../variables";

.RegistrationForm {
  padding: 30px 40px 20px 40px;
  background: $-bg-second-color;
  border-radius: 20px;
  margin: 0 auto;
  animation-duration: 0.5s;
  animation-name: RegistrationForm;
  display: flex;
  margin-top: 150px;
  letter-spacing: 1px;
  flex-direction: column;
  .title {
    color: $-text-main-color;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 15px;
  }
  .label {
    margin-top: 15px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    color: $-text-main-color;
  }
  .input {
    width: 420px;
    margin-top: 5px;
    background: $-bg-light-color;
    border-radius: 10px;
    padding: 8px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: $-text-main-color;
  }
  .input::placeholder {
    color: $-text-placeholder-color;
  }

  .haveTeam {
    display: flex;
    width: 420px;
    justify-content: right;
    .haveTeam-label {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: $-text-main-color;
      margin-top: 10px;
    }
    input {
      display: none;
    }
  }
  .button {
    margin-top: 60px;
    background: $-bg-button-color;
    border-radius: 0px 20px;
    padding: 14px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    width: 420px;
    color: $-text-second-color;
  }
  .link {
    text-align: right;
    margin-top: 5px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: $-text-main-color;
  }

  .inputCode {
    display: none;
  }
  .labelforteam {
    display: none;
  }

  .polici {
    width: 420px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin-top: 36px;
    color: $-text-third-color;
    text-align: left;
    a {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: $-text-main-color;
    }
  }
}

@keyframes RegistrationForm {
  from {
    transform: scale(97%);
  }
}
