@import "../variables";
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Raleway:wght@300;500&display=swap");

.inputTimeSettings:out-of-range {
  background-color: rgba(255, 0, 0, 0.25);
  border: 2px solid red;
}

.TimerBlock {
  background-color: $-bg-second-color;
  padding: 15px;
  position: relative;
  width: 510px;
  height: 800px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  align-items: center;
  box-shadow: -2.74938px 2.74938px 6.87345px rgba(0, 0, 0, 0.25);
  border-radius: 27.1316px;
  .clearButton {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    border: 0.687345px solid $-text-main-color;
    border-radius: 44px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    cursor: pointer;
  }
  .Clock {
    padding-top: 2.9em;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    display: flex;
    justify-content: center;
    font-size: 48.1141px;
    line-height: 58px;
    text-align: justify;
    position: relative;
    color: $-text-main-color;
    .circle {
      position: absolute;
      top: 0px;
      display: inline-block;
      width: 7em;
      aspect-ratio: 1;
      border-radius: 50%;
      border: 10px solid $-text-main-color;
      display: flex;
      justify-content: center;
      z-index: 1;
      align-items: center;
      animation: progress 60s cubic-bezier(0.25, 0.4, 0.75, 0.6) forwards;
      animation-play-state: paused;
      animation-iteration-count: infinite;
    }
    .circle-back {
      position: absolute;
      top: 1px;
      z-index: 0;
      display: inline-block;
      width: 6.95em;
      aspect-ratio: 1;
      border-radius: 50%;
      border: 8px solid #4e5855;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @keyframes progress {
      0% {
        clip-path: polygon(
          50% 50%,
          50% -21%,
          -21% 50%,
          50% 121%,
          121% 50%,
          50% -21%
        );
      }
      25% {
        clip-path: polygon(
          50% 50%,
          50% -21%,
          -21% 50%,
          50% 121%,
          121% 50%,
          121% 50%
        );
      }
      50% {
        clip-path: polygon(
          50% 50%,
          50% -21%,
          -21% 50%,
          50% 121%,
          50% 121%,
          50% 121%
        );
      }
      75% {
        clip-path: polygon(
          50% 50%,
          50% -21%,
          -21% 50%,
          -21% 50%,
          -21% 50%,
          -21% 50%
        );
      }
      100% {
        clip-path: polygon(
          50% 50%,
          50% -21%,
          50% -21%,
          50% -21%,
          50% -21%,
          50% -21%
        );
      }
    }
  }
  .ButtonSettings {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 8.5px;
    cursor: pointer;
    background: $-bg-light-color;
    border-radius: 50%;
    input {
      display: none;
    }
  }
  .Buttons {
    display: flex;
    margin-top: 280px;
    gap: 22px;
    .ButtonStart {
      background: $-bg-button-color;
      color: $-text-second-color;
      border-radius: 20px;
      padding: 16px 40px;
      font-family: "Raleway";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
    }
    .ButtonStop {
      border-radius: 20px;
      padding: 16px 40px;
      font-family: "Raleway";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      border: 1px solid $-bg-button-color;
      border-radius: 20px;
    }
  }
  .NextText {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    background: $-bg-light-color;
    border-radius: 44px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 300;
    font-size: 17.871px;
    line-height: 21px;
    cursor: pointer;
  }
}

.settingsMenu {
  .buttonClose {
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    width: 46px;
    background-color: $-bg-light-color;
  }
  .saveButton {
    cursor: pointer;
    bottom: 20px;
    right: 20px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 300;
    position: absolute;
    font-size: 17px;
    line-height: 20px;
    color: $-text-main-color;
    padding: 10px 20px;
    border: 0.687345px solid $-text-main-color;
    border-radius: 44px;
  }
  .inputSettings {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    position: relative;
    .label {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 26px;
      color: #848484;
    }
    input {
      text-align: center;
      margin-top: 10px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
    }
    .plus {
      position: absolute;
      font-size: 35px;
      right: 20px;
      bottom: -4px;
    }
    .minus {
      position: absolute;
      font-size: 35px;
      left: 20px;
      bottom: -4px;
    }
  }
}
