@import "../variables";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.App {
  text-align: center;
}

.App-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.App-backGround {
  position: absolute;
  background-color: $-bg-main-color;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  top: 0;
  overflow: hidden;
  .LogoTempus {
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 120px;
  }
  .App-lines {
    position: absolute;
    bottom: 0;
    left: 0px;
    height: 234px;
    width: 100%;
    background: url(/src/assets/images/lines/lines.svg);
    animation: linesAnimate 1000s infinite linear;
    background-position: 100000px 0;
  }
}

@keyframes linesAnimate {
  0% {
    background-position: 0 0;
  }
}

.App-popup {
  position: absolute;
  width: 700px;
  height: 100px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: #eaffff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: end;
  cursor: pointer;
  padding-bottom: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 33px;
  color: #005e6b;
  animation-name: PopupOpen;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes PopupOpen {
  from {
    top: -70px;
  }
  to {
    top: 0px;
  }
}

@keyframes PopupClouse {
  from {
    top: 0px;
  }
  to {
    top: -70px;
  }
}
