$-bg-main-color: #161c1a;
$-bg-second-color: #23302b;
$-bg-button-color: #e9d3c6;
$-bg-light-color: #2e3935;

$-text-main-color: #fff;
$-text-second-color: #23302b;
$-text-placeholder-color: rgba(180, 180, 180, 0.8);
$-text-third-color: #a7a7a7;
