.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
#form {
  width: 200px;
  margin: 0 auto;
  margin-top: 30px;
}
.FormInput {
  margin-bottom: 10px;
  margin-top: 3px;
}
p {
  margin-top: 3px;
  margin-bottom: 0px;
}
#ICodeTeam {
  display: none;
}
#BSubmit {
  margin-top: 15px;
  color: black;
}
